node_modules/
built/*
\#*\#
.\#*
*.swp
build.json
*.actual
**/.DS_Store
**/.fusebox
.settings
.fusebox
**/.vs
**/.vscode
.idea
yarn.lock
yarn-error.log
.parallelperf.*
*.map
*.jsx
*.code-workspace
*.zip
*.tar.gz
*.gz
internal/
dist/
config/
dist.tar.gz
dist.*
assets
package-lock.json
deploy.sh
prod.sh
decls/
tmp/
old/
video/
TODO
.env
.env_sandbox
.env_production
SALES
